{% extends "index.html" %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        {% if breadcrumb  %}     
        <li><a href="/news">News</a> <span class="divider">/</span></li>
        <li class="active">{{ breadcrumb }}</li>
        {% else %}        
        <li class="active"><a href="/news">News</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block left %}
  {% if latest_news  %}     
    <!-- Post -->
    <div class="well">
    <div class="row-fluid">
    <h3 class="duwur_mepet kiwo_1">{{ latest_news.title }}</h3>
    <div class="kiwo_1 muted" style="margin-bottom:15px">{{ latest_news.tanggal }}</div>
    <!-- Kolom Descipsi -->
    <div class="span11 rata_justify">
      {% if latest_news.image %}
      <img class="pull-left tengen_1 img-polaroid" src="{{ STATIC_URL }}media/{{ latest_news.image }}" width="180" height="180" />
      {% endif %}
      <p>{{ latest_news.description }}</p>
    </div>
    </div>
    </div>
  {% endif %}
  {% if list_news  %} 
  {% for news in list_news  %}
    <!-- Post -->
    <div class="well">
    <div class="row-fluid">
    <h4 class="duwur_mepet kiwo_1">{{ news.title }}</h4>
    <div class="kiwo_1 muted" style="margin-bottom:15px">{{ news.tanggal }}</div>
    <!-- Kolom Descipsi -->
    <div class="span11 rata_justify">
      {% if news.image %}
      <img class="pull-left tengen_1 img-polaroid" src="{{ STATIC_URL }}media/{{ news.image }}" width="180" height="180" />
      {% endif %}
      <p>{{ news.description|safe|truncatewords:"45" }} <a href="/news/{{ news.id }}">More</a></p>
    </div>
    </div>
    </div>
  {% endfor %}
  {% else %}
  <div class="alert alert-info">    
    Data masih kosong
  </div>
  {% endif %} 
{% endblock %}


