<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>mBlayang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="mBlayang">
    <meta name="author" content="Ai Jogja">
    
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/ico/favicon.ico">
    <!-- Le styles -->
    <link href="{{STATIC_URL}}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
			background:#34393d
        }
        
    </style>
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->        
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
        <div class="container">
        <div class="span11">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">mBlayang</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Wisata</a></li>
                <li><a href="#contact">Gallery</a></li>
                <li><a href="#contact">News</a></li>              
            </ul>            
            <div class="pull-right">
                <button class="btn btn-info">Login</button>
                <button class="btn btn-success">Register</button>
            </div>          	
        </div><!--/.nav-collapse -->
        </div><!--/.container -->
        </div><!--/.span11 -->
        </div><!--/.navbar-inner -->
    </div>
    
    <div class="container">    
    <div class="span11">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
        Banner<br><br><br><br><br>
        </div>
        <!-- Example row of columns -->
        <div class="row">
        	<!-- Left -->
            <div class="span7">
                <!-- Post -->
                <div class="well">
                    <div class="row-fluid">
                        <!-- Kolom Image -->
                        <div class="span4" style="height:180px">
                            <img src="{{STATIC_URL}}assets/img/bs-docs-masthead-pattern.png" width="190" height="190" class="img-polaroid" >
                        </div>
                        <!-- Kolom Descipsi -->
                        <div class="span8">
                        <h3 style="margin-top:0px">Heading</h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div>
                    <div class="row-fluid">
                    <div class="span2 offset4"><i class="icon-eye-open"></i> 21 views</div>
                    <div class="span1"><i class="icon-thumbs-up"></i> 50</div>
                    <div class="span1"><i class="icon-thumbs-down"></i> 20</div>
                    </div>
                </div>
               	<!-- Post -->
                <div class="well">
                    <div class="row-fluid">
                        <!-- Kolom Image -->
                        <div class="span4" style="height:180px">
                            <img src="{{STATIC_URL}}assets/img/bs-docs-masthead-pattern.png" width="190" height="190" class="img-polaroid" >
                        </div>
                        <!-- Kolom Descipsi -->
                        <div class="span8">
                        <h3 style="margin-top:0px">Heading</h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div>
                    <div class="row-fluid">
                    <div class="span2 offset4"><i class="icon-eye-open"></i> 21 views</div>
                    <div class="span1"><i class="icon-thumbs-up"></i> 50</div>
                    <div class="span1"><i class="icon-thumbs-down"></i> 20</div>
                    </div>
                </div>
                <!-- Post -->
                <div class="well">
                    <div class="row-fluid">
                        <!-- Kolom Image -->
                        <div class="span4" style="height:180px">
                            <img src="{{STATIC_URL}}assets/img/bs-docs-masthead-pattern.png" width="190" height="190" class="img-polaroid" >
                        </div>
                        <!-- Kolom Descipsi -->
                        <div class="span8">
                        <h3 style="margin-top:0px">Heading</h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                    </div>
                    <div class="row-fluid">
                    <div class="span2 offset4"><i class="icon-eye-open"></i> 21 views</div>
                    <div class="span1"><i class="icon-thumbs-up"></i> 50</div>
                    <div class="span1"><i class="icon-thumbs-down"></i> 20</div>
                    </div>
                </div>
            </div>
            <!-- End Left -->
            <!-- Right -->
            <div class="span4">
            <div class="well">
                <h3 style="margin-top:0px">Trend Location</h3>
                <ul>
                    <li><a href="#about">Wisata</a></li>
                    <li><a href="#contact">Gallery</a></li>
	                <li><a href="#contact">News</a></li> 
                </ul>
            </div>
            </div>            
            <!-- End Right -->
        </div>
        
        <hr>    
        <footer>
        <p style="color:#FFF">&copy; mBlayang 2013</p>
        </footer> 
    </div>   
    </div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{STATIC_URL}}assets/js/jquery.js"></script>
<script src="{{STATIC_URL}}assets/js/bootstrap.min.js"></script>
<script>
$('#login').popover({
	'animation'	: true,
	'placement'	: 'bottom',
	'title'		: 'Login',
	'content'	: 'Ini Form Login'
})
</script>
<script language="javascript">
    $('.dropdown-toggle').dropdown();
    $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });
</script>
</body>
</html>
